<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}
    </title>
    <meta
      name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}Brad Simmons ruby web development blog.{% endif %}"
    />

    <!-- Open Graph / Social Media -->
    <meta
      property="og:type"
      content="{% if page.title %}article{% else %}website{% endif %}"
    />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}"
    />
    <meta
      property="og:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />

    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}"
    />
    <meta
      name="twitter:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic&display=swap"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.url }}/css/syntax.css"
    />
  </head>

  <body>
    <div id="off-canvas">
      <div id="avatar">
        <a href="https://imgur.com/ZujFXNQ"
          ><img
            src="https://i.imgur.com/ZujFXNQs.jpg"
            alt="Avatar"
            title="Hosted by imgur.com"
        /></a>
      </div>
      <div id="bio">
        <h1>HELLO INTERNET!</h1>
        <p>
          I'm a dev living in Fayetteville, Arkansas. Fork me on
          <a href="https://github.com/bsimm">Github</a> or send me an
          <a href="mailto:hirebsimm@gmail.com">email</a>.
        </p>
      </div>
    </div>

    <header>
      <div class="h-wrap">
        <h1 class="title">
          <a href="{{ site.url }}" title="Back to Homepage">{{ site.name }}</a>
        </h1>
        <a class="menu-icon" title="Open Bio"><span class="lines"></span></a>
      </div>
    </header>

    <main></main>
  </body>
</html>
